asgiref==3.12.1
ast_serialize==0.6.0
cfgv==3.5.0
distlib==0.4.3
Django==6.0.7
django-environ==0.14.0
django-stubs==6.0.7
django-stubs-ext==6.0.7
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
factory_boy==3.3.3
Faker==40.36.0
filelock==3.32.0
identify==2.6.19
iniconfig==2.3.0
librt==0.13.0
mypy==2.3.0
mypy_extensions==1.1.0
nodeenv==1.10.0
opendataloader-pdf==2.5.0
packaging==26.2
parameterized==0.9.0
pathspec==1.1.1
platformdirs==4.11.0
pluggy==1.6.0
pre_commit==4.6.1
psycopg[binary]==3.3.4
Pygments==2.20.0
pytest==9.1.1
pytest-django==4.12.0
python-discovery==1.5.0
PyYAML==6.0.3
ruff==0.16.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260724
typing_extensions==4.16.0
virtualenv==21.7.0
